.sampul{
    width: 100px;
    height: 100px;
    border-radius: 90%;
}
.thumb{
    width: 90%;
    height: 100%;
}

.table{
    vertical-align: middle;
}

/* Dark Mode */
.dark-mode {
    background-color: #002;
    color: white;

}

a {
    color: inherit;
}